[Unit]
Description=Serialization service for Riak CS

[Service]
User=stanchion
ExecStart=/usr/bin/stanchion start
ExecStop=/usr/bin/stanchion stop
Type=forking
PIDFile=/run/stanchion/stanchion.pid
EnvironmentFile=-/etc/default/stanchion
RuntimeDirectory=stanchion

[Install]
WantedBy=multi-user.target
