%% -*- erlang -*-
{minimum_otp_vsn, "22.0"}.

{erl_opts, [ debug_info
           , warnings_as_errors
           ]
}.

{project_plugins, [ {rebar3_cuttlefish, {git, "https://github.com/hmmr/rebar3_cuttlefish", {tag, "2.1.1"}}}
                  ]
}.

{deps, [ {webmachine, ".*", {git, "git://github.com/webmachine/webmachine.git", {tag, "1.11.1"}}}
       , {mochiweb, "v2.20.1"}
       , {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {tag, "riak_kv-3.0.2"}}}
       , {exometer_core, ".*", {git, "git://github.com/Feuerlabs/exometer_core", {tag, "v1.5.7"}}}
       , {eper, ".*", {git, "git://github.com/basho/eper.git", "0.97.6p1"}}
       ]}.

{relx, [ {release, {stanchion, "2.2"},
          [ sasl
          , stanchion
          ]
         }
       , {overlay_vars, "rel/vars.config"}
       , {mode, prod}

       , {overlay, [ {template, "rel/files/advanced.config", "etc/advanced.config"}
                   , {template, "rel/files/stanchion-admin", "bin/stanchion-admin"}
                   , {template, "rel/files/stanchion-debug", "bin/stanchion-debug"}
                   , {copy, "rel/files/cert.pem", "etc/cert.pem"}
                   , {copy, "rel/files/key.pem", "etc/key.pem"}

                     %% {mkdir, "log"},
                     %% {mkdir, "data/stanchion"},
                   ]
         }
       ]
}.

{cuttlefish, [ {file_name, "stanchion.conf"}
             , {disable_bin_scripts, true}
             , {schema_discovery, true}
             , {schema_order, [ stanchion
                              , erlang_vm
                              ]}
             ]
}.

{overrides,
 [ {del, eper, [{erl_opts, [warnings_as_errors]}]}
 , {del, setup, [{erl_opts, [warnings_as_errors]}]}
 ]
}.
