{sub_dirs, ["rel"]}.

{require_otp_vsn, "R14B0[234]|R15|R16"}.

{cover_enabled, true}.

{lib_dirs, ["deps", "apps"]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{reset_after_eunit, true}.

{deps, [
        {node_package, "1.3.3", {git, "git://github.com/basho/node_package", {tag, "1.3.3"}}},
        {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", {tag, "1.10.3"}}},
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {tag, "1.4.1"}}},
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.0"}}},
        %% TODO: add velvet
        %% {velvet, "1.3.*", {git, "git://github.com/basho/velvet", "2d605e2c7bdd158075842c8a8dc826bfb9c2c33b"}},
        {eper, ".*", {git, "git://github.com/basho/eper.git", "7f94808f958e810b477e096a4960ee90ea9c0f4b"}}
       ]}.
