%% -*- erlang -*-
{minimum_otp_vsn, "22.0"}.

{erl_opts, [ debug_info
           , warnings_as_errors
           , {parse_transform, lager_transform}
           ]
}.

{project_plugins, [ {rebar3_cuttlefish, {git, "https://github.com/TI-Tokyo/rebar3_cuttlefish", {tag, "0.2.1"}}}
                  ]
}.

{deps, [ {webmachine, {git, "https://github.com/webmachine/webmachine.git", {tag, "1.11.1"}}}
       , {mochiweb, "v2.20.1"}
       , {riakc, {git, "https://github.com/basho/riak-erlang-client", {tag, "3.0.8+p1"}}}
       , {exometer_core, {git, "https://github.com/Feuerlabs/exometer_core", {tag, "v1.5.7"}}}
       , {eper, {git, "https://github.com/basho/eper.git", {tag, "0.97.6p1"}}}
       , {lager_syslog, {git, "https://github.com/TI-Tokyo/lager_syslog.git", {tag, "3.1.1"}}}
       , {rcs_common, {git, "https://github.com/TI-Tokyo/rcs_common.git", {tag, "3.0.4"}}}
       ]}.

{relx, [ {release, {stanchion, "3.0.0"},
          [ sasl
          , stanchion
          ]
         }
       , {overlay, [ {template, "rel/files/advanced.config", "etc/advanced.config"}
                   , {copy, "rel/files/cert.pem", "etc/cert.pem"}
                   , {copy, "rel/files/key.pem", "etc/key.pem"}
                   , {template, "rel/files/stanchion", "usr/bin/stanchion"}
                   , {template, "rel/files/stanchion-admin", "bin/stanchion-admin"}
                   , {template, "rel/files/stanchion-debug", "bin/stanchion-debug"}
                   , {template, "rel/files/lib.sh", "lib/lib.sh"}
                   , {copy,     "rel/files/app_epath.escript", "lib/app_epath.escript"}
                   , {mkdir, "log"}
                   ]
         }
       , {generate_start_script, true}
       , {extended_start_script, true}
       , {extended_start_script_extensions,
          [ {admin, "stanchion-admin"}
          , {debug, "stanchion-debug"}
          ]
         }
       ]
}.

{profiles,
 [ {rel,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/vars.config"}
       ]
      }
    ]
   }

 , {dev,
    [ {relx, [{mode, dev}]}
    ]
   }

 , {rpm,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/rpm/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{pid, "/run/stanchion/stanchion.pid"},
              {wait_for_process, stanchion_server_sup}]
            }
          ]
         }
       ]
      }
    ]
   }

 , {deb,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/deb/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{pid, "/run/stanchion/stanchion.pid"},
              {wait_for_process, stanchion_server_sup}]
            }
          ]
         }
       ]
      }
    ]
   }

 , {alpine,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/alpine/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{pid, "/run/stanchion/stanchion.pid"},
              {wait_for_process, stanchion_server_sup}]
            }
          ]
         }
       , {overlay,
          [ {template, "rel/pkg/alpine/stanchion.nosu", "usr/bin/stanchion.nosu"}
            %% to be renamed to riak-cs in Makefile. We would rather
            %% have a special version of riak-cs in pkg/alpine dir,
            %% but relx seems to give precedence to to the template
            %% entry in the common section.
          ]
         }
       ]
      }
    ]
   }

 , {fbsdng,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/fbsdng/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{pid, "/run/stanchion/stanchion.pid"},
              {wait_for_process, stanchion_server_sup}]
            }
          ]
         }
       ]
      }
    ]
   }

   %% it's essentially `make rel` tarred
 , {osx,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/osx/vars.config"}
       ]
      }
    ]
   }
 ]
}.

{cuttlefish, [ {file_name, "stanchion.conf"}
             , {disable_bin_scripts, true}
             , {schema_discovery, true}
             , {schema_order, [ stanchion
                              , erlang_vm
                              ]}
             ]
}.

{overrides,
 [ {del, eper, [{erl_opts, [warnings_as_errors]}]}
 , {del, setup, [{erl_opts, [warnings_as_errors]}]}
 ]
}.
