%% -*- erlang -*-

{rel_vsn, "{{release_version}}"}.

%% Platform-specific installation paths
{platform_base_dir,  "${STANCHION_PATH:-$RELEASE_ROOT_DIR}"}.
{platform_bin_dir,   "./bin"}.
{platform_data_dir,  "./data"}.
{platform_etc_dir,   "./etc"}.
{platform_lib_dir,   "./lib"}.
{platform_log_dir,   "./log"}.
{platform_gen_dir,   "."}.
{platform_patch_dir, "./patches"}.

%%
%% etc/app.config
%%
{stanchion_version, 030000}.
{stanchion_ip,      "127.0.0.1"}.
{stanchion_port,    8085}.
{riak_ip,           "127.0.0.1"}.
{riak_pb_port,      8087}.
{auth_bypass,       false}.
{admin_key,         "admin-key"}.

%%
%% etc/vm.args
%%
{node,         "stanchion@127.0.0.1"}.
{crash_dump,   "{{platform_log_dir}}/erl_crash.dump"}.

%% relocatable releases won't call the launcher script, because
%% launcher script requires a stanchion user to exist.
%%{pipe_dir,           "$PLATFORM_BASE_DIR/tmp/stanchion"}.
%%{pid_dir,            "$PLATFORM_BASE_DIR/var/run/stanchion"}.

%% lager
{console_log_default, file}.
